@media screen and (min-width: 1000px) {
    body{
        >div:first-child {
            min-height: 600px;
            padding-top: 10%;
            & > .play_icon,
            & > a,
            & > p:last-child {
                margin-top: 10px;
            }
        }
        >div:nth-child(4) {
            &::before {
                content: "";
                top: 0;
                left: 0;
                position: absolute;
                width: 622px;
                height: 500px;
                background: url("../image/rectangle_red2.png");
            }
            padding: 5% 0 3% 50%;
            position: relative;
            > p:first-child {
                &:before {
                    content: "";
                    position: absolute;
                    top: 15%;
                    width: 630px;
                    transform: scale(0.9);
                    height: 367px;
                    left: 5%;
                    background: url("../image/macbook_17196.png");
                }
            }
        }
        >div:nth-child(5) {
            min-height: 648px;
            padding-top: 15%;
            > div:first-child > div {
                margin-right: 10%;
                &:first-child {
                    margin-left: 15%;
                }
            }
            > div:last-child {
                flex-wrap: wrap;
            }
            p:first-child {
                &::before {
                    top: -100px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        >div:nth-child(6) {
            padding-bottom: 400px;
            min-height: 864px;
            position: relative;
            &::before {
                content: "";
                background: url("../image/safari.png");
                width: 820px;
                height: 375px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
       >div:nth-child(7) {
            > form {
                display: flex;
                flex-direction: row;
                > div {
                    position: relative;
                    
                }
    
                > div > p {
                    position: absolute;
                    top: -50px;
                    right: 25%;
                    width: 260px;
                    height: 30px;
                    margin-left: 5px;
                    &:before {
                    }
                }
                input[type="submit"] {
                    position: relative;
                   
                }
            }
            input {
              
                width: 300px;
            }
        }
        >div:nth-child(8) {
        }
    }
    
}
@media screen and(max-width:1600px) {
    
body> div:nth-child(4) {
        p:first-child::before {
            transform: scale(0.7);
            left: 0%;
        }
    }
}
@media screen and(max-width:1300px){
   body> div:nth-child(7) input{
        margin: 0;
    }
  body > div:nth-child(7) > form > div{
        margin-top: 50px;
    }
}
@media screen and(min-width:1200px){
    body>div:nth-child(7) input{
        margin: 0 15px;
    }
}