@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500&display=swap");
body > div p {
  font-family: Exo;
}

body > div:first-child {
  text-align: center;
  background: url("../image/headerbg.png") no-repeat;
  background-size: cover;
}

body > div:first-child > * {
  margin: auto;
  margin-top: 10px;
}

body > div:first-child .play_icon {
  background: url("../image/play_icon.png") no-repeat;
  height: 70px;
  width: 70px;
  opacity: 0.5;
  transition: 0.3s opacity linear;
}

body > div:first-child .play_icon:hover {
  opacity: 1;
}

body > div:first-child > h1 {
  font-family: Exo;
  font-size: 60px;
  line-height: 75px;
  font-weight: 100;
  letter-spacing: 0.04em;
  color: #282828;
  text-align: center;
}

body > div:first-child a {
  display: flex;
  transition: 0.4s background-color linear;
  height: 50px;
  background-color: #ff6d6d;
  width: 190px;
  border-radius: 10px;
}

body > div:first-child a:hover {
  background-color: red;
  text-decoration: none;
}

body > div:first-child a > span {
  margin: auto;
  color: white;
}

body > div:first-child p:last-child {
  color: gray;
}

body > div:nth-child(2) {
  display: flex;
  min-height: 600px;
  position: relative;
}

body > div:nth-child(2) div:first-child {
  padding: 5% 10% 5%;
}

body > div:nth-child(2) p {
  text-align: start;
}

body > div:nth-child(2) p:first-child {
  font-size: 16px;
  font-weight: 500;
  color: #ff6d6d;
}

body > div:nth-child(2) p:nth-child(2) {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

body > div:nth-child(2) p:nth-child(3), body > div:nth-child(2) p:nth-child(4) {
  opacity: 0.65;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

body > div:nth-child(2) div:last-child {
  background-image: url("../image/rectangle_red.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  top: 0;
  width: 100%;
  right: 0;
}

body > div:nth-child(3) {
  background: #f6f5f3 url("../image/rectangle_5_cup_and_pen_and_earphones.png") center no-repeat;
  padding-top: 100px;
  flex-direction: column;
}

body > div:nth-child(3) > p {
  text-align: center;
}

body > div:nth-child(3) > p:first-child {
  font-size: 40px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ff6d6d;
}

body > div:nth-child(3) > p:nth-child(2) {
  color: black;
  font-size: 40px;
  font-weight: 500;
  margin: 0 auto 150px;
}

body > div:nth-child(3) > div {
  justify-content: center;
}

body > div:nth-child(3) > div > div {
  position: relative;
}

body > div:nth-child(3) > div > div::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  position: absolute;
  content: "";
  width: 67px;
  height: 67px;
}

body > div:nth-child(3) > div > div p:first-child {
  font-size: 22px;
  color: black;
  text-align: center;
}

body > div:nth-child(3) > div > div p:last-child {
  font-size: 16px;
  color: gray;
}

body > div:nth-child(3) > div > div:first-child::before {
  content: "";
  background: url("../image/airplane_17158.png") center no-repeat;
}

body > div:nth-child(3) > div > div:nth-child(2) {
  margin-bottom: 100px;
}

body > div:nth-child(3) > div > div:nth-child(2)::before {
  content: "";
  background: url("../image/picture_17134.png") center no-repeat;
}

body > div:nth-child(3) > div > div {
  text-align: center;
}

body > div:nth-child(3) > div > div::before {
  content: "";
  background: url("../image/bulb_17168.png") center no-repeat;
}

body > div:nth-child(4) {
  min-height: 500px;
  flex-direction: column;
}

body > div:nth-child(4) > p {
  font-family: Exo;
}

body > div:nth-child(4) > p:first-child {
  color: #ff6d6d;
  font-size: 16px;
}

body > div:nth-child(4) > p:nth-child(2) {
  font-size: 40px;
  padding-left: 0;
}

body > div:nth-child(4) > p:nth-child(3) {
  font-size: 16px;
  color: gray;
  padding-left: 0;
}

body > div:nth-child(5) {
  padding-bottom: 110px;
  flex-direction: column;
  z-index: 5;
  position: relative;
  background: url("../image/bg_5_sections.png");
  background-size: cover;
}

body > div:nth-child(5) > div:first-child > div {
  text-align: center;
}

body > div:nth-child(5) > div:last-child {
  margin: auto;
  justify-content: space-between;
}

body > div:nth-child(5) > div:last-child > div {
  width: 130px;
  height: 75px;
}

body > div:nth-child(5) > div:last-child > div:first-child {
  background: url("../image/partner_logo_hits.png") center no-repeat;
}

body > div:nth-child(5) > div:last-child > div:nth-child(2) {
  background: url("../image/partner_logo_river.png") center no-repeat;
}

body > div:nth-child(5) > div:last-child > div:nth-child(3) {
  background: url("../image/partner_logo_3.png") center no-repeat;
}

body > div:nth-child(5) > div:last-child > div:nth-child(4) {
  background: url("../image/partner_logo_4.png") center no-repeat;
}

body > div:nth-child(5) > div:last-child > div:nth-child(5) {
  background: url("../image/partner_logo_5.png") center no-repeat;
}

body > div:nth-child(5) p {
  font-family: Exo;
}

body > div:nth-child(5) p:first-child {
  font-size: 22px;
  font-weight: 500;
  color: white;
  position: relative;
}

body > div:nth-child(5) p:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4e4e5e;
  height: 80px;
  width: 80px;
}

body > div:nth-child(5) p:nth-child(2) {
  color: #ff6d6d;
}

body > div:nth-child(5) p:last-child {
  color: gray;
  margin: auto auto 50px;
}

body > div:nth-child(6) {
  flex-direction: column;
}

body > div:nth-child(6) > div {
  margin: 10% auto;
  text-align: center;
}

body > div:nth-child(6) p {
  font-family: Exo;
  font-weight: 500;
}

body > div:nth-child(6) p:first-child {
  color: #ff6d6d;
}

body > div:nth-child(6) p:nth-child(2) {
  font-size: 40px;
}

body > div:nth-child(6) p:nth-child(3) {
  color: gray;
  margin: auto;
}

body > div:nth-child(7) {
  flex-direction: column;
  background-color: #323969;
}

body > div:nth-child(7) > div {
  margin: 100px auto 0;
  text-align: center;
}

body > div:nth-child(7) > form {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  text-align: center;
  justify-content: center;
}

body > div:nth-child(7) > form > div > p {
  color: white;
}

body > div:nth-child(7) > form > div > p::before {
  content: "";
  position: absolute;
  width: 51px;
  height: 41px;
  background: url("../image/arrow.svg");
  top: 0;
  left: 0;
}

body > div:nth-child(7) > form input {
  height: 50px;
  color: white;
}

body > div:nth-child(7) > form input[type="submit"] {
  width: 256px;
  height: 50px;
  background: #ff6d6d;
  border: none;
  border-radius: 10px;
  transition: .3s all linear;
}

body > div:nth-child(7) > form input[type="submit"]:hover {
  background-color: red;
}

body > div:nth-child(7) > form input::placeholder {
  color: white;
  padding-left: 20px;
}

body > div:nth-child(7) > form > input {
  background-color: darkblue;
  border: 0.5px solid white;
  border-radius: 3px;
}

body > div:nth-child(7) > div > p:first-child {
  color: #ff6d6d;
  font-size: 20px;
}

body > div:nth-child(7) > div > p:nth-child(2) {
  color: white;
  font-size: 30px;
  margin: auto;
}

body > div:nth-child(7) > p:last-child {
  color: gray;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

body > div:nth-child(7) > p:last-child > a {
  color: gray;
  text-decoration: underline;
  transition: .4s all linear;
}

body > div:nth-child(7) > p:last-child > a:hover {
  color: #6d6969;
}

body > div:nth-child(8) {
  padding-top: 100px;
  padding-bottom: 50px;
}

body > div:nth-child(8) p {
  font-family: Exo;
  font-weight: 500;
  font-size: 30px;
}

body > div:nth-child(8) ul > li:first-child {
  padding-left: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: Exo;
}

body > div:nth-child(8) > div:first-child > p:first-child {
  position: relative;
}

body > div:nth-child(8) > div:first-child > p:first-child::after {
  content: '';
  position: absolute;
  background: url("../image/ex.png") no-repeat center;
  top: -5px;
  margin-left: 20px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
}

body > div:nth-child(8) > div ul {
  list-style: none;
}

body > div:nth-child(8) > div li > a {
  color: gray;
  font-size: 20px;
  transition: .4s all linear;
}

body > div:nth-child(8) > div li > a:hover {
  color: #575454;
  text-decoration: none;
}

body > div:nth-child(8) > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > div:nth-child(8) > div:first-child > p {
  font-family: Exo;
  text-align: center;
}

body > div:nth-child(8) > div:first-child > p:first-child {
  font-size: 27px;
  font-weight: 400;
}

body > div:nth-child(8) > div:first-child > p:last-child {
  color: gray;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto 30px;
}

body > div:nth-child(8) > div:nth-child(2) {
  margin: 0 auto;
  text-align: center;
}

body > div:nth-child(8) > div:nth-child(3) {
  margin: 0 auto;
  text-align: center;
}

body > div:nth-child(8) > div:nth-child(4) p {
  text-align: center;
}

body > div:nth-child(8) > div:nth-child(4) form {
  font-size: 0;
  text-align: center;
}

body > div:nth-child(8) > div:nth-child(4) form input[type="email"] {
  width: 263px;
  font-size: 20px;
  border: 1px solid gray;
  opacity: 0.3;
  border-radius: 5px;
  background-color: #bebbbb;
  height: 49px;
}

body > div:nth-child(8) > div:nth-child(4) form input[type="email"]::placeholder {
  color: gray;
  padding-left: 20px;
}

body > div:nth-child(8) > div:nth-child(4) form input[type="submit"] {
  vertical-align: bottom;
  width: 52px;
  height: 49px;
  border: none;
  background: #ff8a8a url("../image/red_button.png") center no-repeat;
  transition: .4s all linear;
}

body > div:nth-child(8) > div:nth-child(4) form input[type="submit"]:hover {
  background-color: red;
}

body > div:nth-child(8) > div:last-child > div {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

body > div:nth-child(8) > div:last-child > div > div {
  width: 20px;
  height: 21px;
  transition: .4 all linear;
  opacity: .6;
}

body > div:nth-child(8) > div:last-child > div > div:hover {
  opacity: 1;
}

body > div:nth-child(8) > div:last-child > div > div:first-child {
  background: url("../image/dribbble_s_17576.png");
  background-repeat: no-repeat;
  background-position: center;
}

body > div:nth-child(8) > div:last-child > div > div:nth-child(2) {
  background: url("../image/facebook_s_17577.png");
  background-repeat: no-repeat;
  background-position: center;
}

body > div:nth-child(8) > div:last-child > div > div:nth-child(3) {
  background: url("../image/googleplus_s_17578.png");
  background-repeat: no-repeat;
  background-position: center;
}

body > div:nth-child(8) > div:last-child > div > div:nth-child(4) {
  background: url("../image/twitter_s_17579.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  body > div:first-child {
    min-height: 550px;
    padding-top: 100px;
  }
  body > div:first-child h1 {
    font-size: 40px;
    line-height: 40px;
  }
  body > div:nth-child(2) div:last-child {
    display: none;
  }
  body > div:nth-child(2) p {
    text-align: center;
  }
  body > div:nth-child(3) {
    padding-top: 60px;
  }
  body > div:nth-child(3) > p {
    text-align: center;
  }
  body > div:nth-child(3) > p:nth-child(2) {
    margin-bottom: 100px;
  }
  body > div:nth-child(3) > p:first-child {
    font-size: 16px;
  }
  body > div:nth-child(3) > div {
    flex-wrap: wrap;
    justify-content: center;
  }
  body > div:nth-child(4) {
    padding: 10% 0 10% 0;
  }
  body > div:nth-child(4) > * {
    text-align: center;
  }
  body > div:nth-child(4) p:nth-child(2) {
    line-height: 40px;
    margin: auto;
  }
  body > div:nth-child(4) p:nth-child(3) {
    margin: auto;
  }
  body > div:nth-child(5) {
    min-height: 650px;
    padding-top: 20%;
    flex-direction: column;
  }
  body > div:nth-child(5) > div:first-child > div > p:first-child::before {
    left: 5%;
  }
  body > div:nth-child(5) > div:first-child {
    flex-direction: column;
  }
  body > div:nth-child(5) > div:last-child {
    flex-wrap: wrap;
    justify-content: center;
  }
  body > div:nth-child(7) input {
    margin: 15px 0;
    width: 265px;
  }
  body > div:nth-child(7) input[type="submit"] {
    margin: 30px auto;
  }
  body > div:nth-child(7) form > div {
    display: flex;
    flex-direction: column;
  }
  body > div:nth-child(7) form > div > p {
    position: relative;
    margin: auto;
  }
  body > div:nth-child(8) {
    padding-bottom: 50px;
    flex-direction: column;
  }
  body > div:nth-child(8) p {
    font-family: Exo;
    font-weight: 500;
    font-size: 30px;
  }
  body > div:nth-child(8) ul > li:first-child {
    padding-left: 0;
    font-size: 30px;
    font-weight: 500;
    font-family: Exo;
  }
  body > div:nth-child(8) > div ul {
    list-style: none;
  }
  body > div:nth-child(8) > div li > a {
    color: gray;
    font-size: 20px;
  }
  body > div:nth-child(8) > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body > div:nth-child(8) > div:first-child > p {
    font-family: Exo;
    text-align: center;
  }
  body > div:nth-child(8) > div:first-child > p:first-child {
    font-size: 27px;
    font-weight: 400;
  }
  body > div:nth-child(8) > div:first-child > p:last-child {
    color: gray;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto 30px;
  }
  body > div:nth-child(8) > div:nth-child(2) {
    margin: 0 auto;
    text-align: center;
  }
  body > div:nth-child(8) > div:nth-child(3) {
    margin: 0 auto;
    text-align: center;
  }
  body > div:nth-child(8) > div:nth-child(4) p {
    text-align: center;
  }
  body > div:nth-child(8) > div:nth-child(4) form {
    font-size: 0;
    text-align: center;
  }
  body > div:nth-child(8) > div:nth-child(4) form input[type="email"] {
    width: 263px;
    font-size: 20px;
    border: 1px solid gray;
    opacity: 0.3;
    border-radius: 5px;
    background-color: #bebbbb;
    height: 49px;
  }
  body > div:nth-child(8) > div:nth-child(4) form input[type="email"]::placeholder {
    color: gray;
    padding-left: 20px;
  }
  body > div:nth-child(8) > div:nth-child(4) form input[type="submit"] {
    vertical-align: bottom;
    width: 52px;
    height: 49px;
    border: none;
    background: #ff8a8a url("../image/red_button.png") center no-repeat;
  }
  body > div:nth-child(8) > div:last-child > div {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
  }
  body > div:nth-child(8) > div:last-child > div > div {
    width: 20px;
    height: 21px;
  }
  body > div:nth-child(8) > div:last-child > div > div:first-child {
    background: url("../image/dribbble_s_17576.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  body > div:nth-child(8) > div:last-child > div > div:nth-child(2) {
    background: url("../image/facebook_s_17577.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  body > div:nth-child(8) > div:last-child > div > div:nth-child(3) {
    background: url("../image/googleplus_s_17578.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  body > div:nth-child(8) > div:last-child > div > div:nth-child(4) {
    background: url("../image/twitter_s_17579.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 395px) {
  body > div:nth-child(5) > div:first-child > div > p:first-child::before {
    content: none;
  }
}

@media screen and (min-width: 1000px) {
  body > div:first-child {
    min-height: 600px;
    padding-top: 10%;
  }
  body > div:first-child > .play_icon,
  body > div:first-child > a,
  body > div:first-child > p:last-child {
    margin-top: 10px;
  }
  body > div:nth-child(4) {
    padding: 5% 0 3% 50%;
    position: relative;
  }
  body > div:nth-child(4)::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 622px;
    height: 500px;
    background: url("../image/rectangle_red2.png");
  }
  body > div:nth-child(4) > p:first-child:before {
    content: "";
    position: absolute;
    top: 15%;
    width: 630px;
    transform: scale(0.9);
    height: 367px;
    left: 5%;
    background: url("../image/macbook_17196.png");
  }
  body > div:nth-child(5) {
    min-height: 648px;
    padding-top: 15%;
  }
  body > div:nth-child(5) > div:first-child > div {
    margin-right: 10%;
  }
  body > div:nth-child(5) > div:first-child > div:first-child {
    margin-left: 15%;
  }
  body > div:nth-child(5) > div:last-child {
    flex-wrap: wrap;
  }
  body > div:nth-child(5) p:first-child::before {
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
  body > div:nth-child(6) {
    padding-bottom: 400px;
    min-height: 864px;
    position: relative;
  }
  body > div:nth-child(6)::before {
    content: "";
    background: url("../image/safari.png");
    width: 820px;
    height: 375px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  body > div:nth-child(7) > form {
    display: flex;
    flex-direction: row;
  }
  body > div:nth-child(7) > form > div {
    position: relative;
  }
  body > div:nth-child(7) > form > div > p {
    position: absolute;
    top: -50px;
    right: 25%;
    width: 260px;
    height: 30px;
    margin-left: 5px;
  }
  body > div:nth-child(7) > form input[type="submit"] {
    position: relative;
  }
  body > div:nth-child(7) input {
    width: 300px;
  }
}

@media screen and (max-width: 1600px) {
  body > div:nth-child(4) p:first-child::before {
    transform: scale(0.7);
    left: 0%;
  }
}

@media screen and (max-width: 1300px) {
  body > div:nth-child(7) input {
    margin: 0;
  }
  body > div:nth-child(7) > form > div {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  body > div:nth-child(7) input {
    margin: 0 15px;
  }
}
